<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="__STATIC__/css/login.css" />
		<meta charset="UTF-8">
		<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
		<title></title>

	</head>

	<body>
		<div class="login-body">
			<div class="login-top">
				<a href="{:url('index/index/index')}">
						<img class="img1" src="__STATIC__/img/logo.gif" />
				</a>

				<h1>用户登陆</h1>
			</div>

			<div class="login-content">

                <img src="__STATIC__/img/login/log_n.jpg" />

				<form  method="post" action="{:url('index/login/login')}">


					<div class="login-window">
						<div class="login-list">
							<img src="__STATIC__/img/login/username.jpg">
							<input type="email" placeholder="请输入邮箱" id="email" name="email" required/>
							<span id="email-check"></span>
						</div>
						<div class="login-list">
							<img src="__STATIC__/img/login/password.jpg" />
							<input type="password" placeholder="请输入密码" id="password" name="password" required/>
						</div>
						<div class="login-list" style="display: none">
							<input type="text" placeholder="redirst" id="redirst" name="redirst" value="{$redirst}" required/>
						</div>
						<div class="yzm">
							<div class="login-yzm">
								<p>验证码：</p><input type="text" id="code" name="code" required/>

							</div>
							<img id="verifyimg" src="{:url('index/login/captcha')}" border="0"  width="105px" height="47px" />
							<a id="clickCode" onclick="javascript:verifyimg.src='{:url('index/login/captcha')}?rand='+Math.random()" style="width: 88px;height: 50px;line-height: 47px;font-size: 15px;">换一换</a>
						</div>
					<!-- 	<div style="margin-top: 10px;margin-left:20px;width: 100%;text-align: left;font-size: 18px">
                               <input type="checkbox" name="holdStatus" value="1" name="自动登录"> 3天内自动登录
                        </div> -->
						<!--登陆错误-->
						<div id="login-mistake">
						</div>

						<div class="login-operate">
							<a href="{:url('index/login/reg')}">免费注册</a>
							<span>丨</span>
							<a href="#">忘记密码</a>
						</div>
						<div>
							<input type="submit" value="登陆" class="login-btn" id="login" />
						</div>

					</div>

				</form>
			</div>
		</div>

</body>

    <script type="text/javascript">
    	  $('#code').bind('blur',function(){
		        var codeNumber = $(this).val();
		        if($(this).val().length ==0){
		          $("#login-mistake").addClass("login-mistake");
		          $("#login-mistake").text("验证码不能为空！");
		          return false;
		        }else{
		          $.post('{:url('index/login/checkCaptcha')}',{code:codeNumber},function(data){
		            if(data == true){
		                $("#login-mistake").removeClass("login-mistake");
						$("#login-mistake").text('');
		                code = true;

		            }else{
		            	$("#login-mistake").addClass("login-mistake");
						$("#login-mistake").text('验证码不正确！');
		                $("#clickCode").click();
		            }
		          })
		        }
		      })

    </script>



	<script type="text/javascript">
		$(function() {



            //检查各个表单是否为空
			$("#login").bind('click',function() {
				if($("#username").val() == "" || $("#password").val() == "") {
					$("#login-mistake").addClass("login-mistake");
					$("#login-mistake").text("请输入邮箱或密码！");
				}
				else{
					if($("#code").val()==""){
						$("#login-mistake").addClass("login-mistake");
					    $("#login-mistake").text("请输入验证码！");
					}elseif(code == false){
                        $("#login-mistake").addClass("login-mistake");
					    // $("#login-mistake").text("验证码不正确！");

					}
				}


			});

		})
	</script>


</html>