<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>petmall会员注册</title>
		<link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" />
		<script src="__STATIC__/js/jquery.min.js" ></script>
		<script src="__STATIC__/js/bootstrap.min.js" ></script>
		<link rel="stylesheet" href="__STATIC__/css/register.css" />
		<style>
			.error-style{
					 color:#ff6f4a;
					 width:96px;
				     font-size:14px;
				     line-height:54px;
				     margin-left:10px;
				}
		</style>
	</head>
	<body>
		<!--
        	注册页面头部
        -->
		<div class="container-fluid" style="margin-top: 20px;border-bottom: #DDDDDD solid 1px;">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="logo">
						<img src="__STATIC__/img/logo.gif" />
						<span class="" ><strong style="font-size: 23px;">~</strong><strong style="font-size: 23px;font-family: 宋体;" >欢迎注册</strong></span>
					</div>
				</div>
				<div class="col-sm-4 col-sm-offset-3" style="margin-top:15px">
					<span>已有账户？<a href="{:url('index/login/login')}">登录</a></span>  <span style="margin-left: 10px;"><a href="{:url('index/index/index')}">返回首页</a></span>
				</div>
			</div>
		</div>
		<!--
        	头部结束
        -->


		<!--
        	页面主体
        -->










        <div class="constants" style="margin:5% 20%">
        	<div>
        		<form id="register" class="form-horizontal" method="post" action="{:url('index/login/register')}">
        			<div class="form-group">
        				<label class="col-sm-3 control-label no-padding-right" for="email">邮箱</label>
        				<div class="col-sm-9">
        				     <input class="col-xs-10 col-sm-5" id="email" type="email" name="email" required/><span id="email-check"></span>
        				</div>
        			</div>

        			<div class="form-group">
        				<label class="col-sm-3 control-label no-padding-right" for="pwd">密码</label>
        				<div class="col-sm-9">
        				      <input class="col-xs-10 col-sm-5" id="pwd" type="password" name="pwd" required/><span id="pwd-check"></span>

        				</div>

        			</div>

        			<div  class="form-group">
        				<label class="col-sm-3 control-label no-padding-right" for="re_pwd">确认密码</label>
        				<div class="col-sm-9">
        				   <input class="col-xs-10 col-sm-5" id="re_pwd" type="password" name="re_pwd" required/><span id="repwd-check"></span>
        				</div>
        			</div>

        			<div  class="form-group">
        				<label class="col-sm-3 control-label no-padding-right" for="re_pwd">

        				</label>
        				<div class="col-sm-3">
        				   <input class="col-xs-10 col-sm-5" id="code" type="text" name="re_pwd" style="width: 203px;" required/>

        				</div>
        				<div class="col-sm-6">
        					<img id="verifyimg" src="{:url('index/login/captcha')}" border="0"  width="105px" height="52px"/>
        					<span id="clickCode" class="btn btn-info" onclick="javascript:verifyimg.src='{:url('index/login/captcha')}?rand='+Math.random()" style="width: 88px;height: 50px;line-height: 35px;font-size: 15px;">换一换</span>
        					<span id="code-check"></span>
        				</div>




        			</div>
        		    <div class="col-sm-5 col-sm-offset-3">
        		        <button id="formSubmit" type="submit" class="btn btn-success" style="width: 413px;height: 52px;margin-top: 20px;">立即注册</button>
        		    </div>
        		</form>
        	</div>
        </div>

	<script type="text/javascript">

	// 检测邮箱
		$(document).ready(function(){
		 	var email_status = false;
        	$('#email').bind('blur',function(){
        		var uemail= $(this).val();
        		if(!$(this).val()) {
        			$(this).next().removeClass("glyphicon glyphicon-ok").addClass("error-style").html('邮箱不能为空');
        			email_status = false;
        		}else{
        			var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-]+)+$/;
                    var result = reg.test(uemail);
                    if(!result){
				        $(this).next().removeClass("glyphicon glyphicon-ok").addClass("error-style").html('邮箱格式不正确！');
				    }else{
		                $.post('{:url('index/login/checkEmail')}',{email:uemail},function(data){
    		                if(data == true){
    		                   $("#email-check").removeClass("glyphicon glyphicon-ok").addClass("error-style").html('用户已存在，请更换邮箱');

    		                }else{
    			                $("#email-check").addClass("error-style").css("color","green").addClass("glyphicon glyphicon-ok").html('');
    			                email_status = true;
    			            }
            			})

        		   }
				}
        	})
        });








    </script>

    <script type="text/javascript">

	    var userpwd =false;
	    var repwd =false;
	    var code = false;
           // 验证密码格式
      $('#pwd').bind('blur',function(){
        var pwd = $(this).val();
        if($(this).val().length<6 || $(this).val().length>16){
            $('#pwd-check').removeClass("error-style glyphicon glyphicon-ok").html('密码长度6~16位').css("color","#ff6f4a").addClass("error-style");
            return false;
        }else{
            $("#pwd-check").addClass("error-style").css("color","green").addClass("glyphicon glyphicon-ok").html('');

            userpwd = true;

        }

      })


      // 验证两次密码是否一致
      $("#re_pwd").bind('blur',function(){
        var re = $(this).val();
        if($('#pwd').val() != re){
            $('#repwd-check').removeClass("error-style glyphicon glyphicon-ok").html('两次密码不一致！').css("color","#ff6f4a").addClass("error-style");
            return false;
        }else{
        	if(re.length ==0){

        	}else{
             $("#repwd-check").addClass("error-style").css("color","green").addClass("glyphicon glyphicon-ok").html('');
             repwd = true;
            }
        };
      })


      //检查验证码
      $('#code').bind('blur',function(){
        var codeNumber = $(this).val();
        if($(this).val().length ==0){
          $('#code-check').removeClass("error-style glyphicon glyphicon-ok").html('验证码不能为空！').css("color","#ff6f4a").addClass("error-style");
          return false;
        }else{
          $.post('{:url('index/login/checkCaptcha')}',{code:codeNumber},function(data){
            if(data == true){
              $("#code-check").addClass("error-style").css("color","green").addClass("glyphicon glyphicon-ok").html('');
                code = true;
            }else{
               $("#clickCode").click();
               $('#code-check').removeClass("error-style glyphicon glyphicon-ok").html('验证码不正确！').css("color","#ff6f4a").addClass("error-style");


            }
          })
        }
      })

      $('#formSubmit').click(function(){

        if( userpwd && repwd && code ){
             $.ajax({
            url:'__CONTROLLER__/register',
            type:'post',
            data:$('#register').serialize(),
            success:function(data){
              location.href = data.url;
            }
          })
        }else{
          return;
        }
      })


    </script>
	</body>


</html>
