{extend name="Public::layout" /}
{block name="head"}
    {include file="public/css" /}
    <script src="/static/admin/js/layer/laydate/laydate.js"></script>
{/block}
{block name="main"}





<div class="page">

    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>请务必正确填写商品信息</li>
        </ul>
    </div>
    <!--表单数据-->
    <form method="post" id="addEditGoodsForm">
        <input type="hidden" name="goods_id" value="{$goods.id}">

        <input type="hidden" value="{$goods['brand_id']|default = 0}" name="goods_brand_id" disabled="disabled"/>

        <!-- 商品模型-->
		<div class="ncap-form-default tab_div_3">
            <dl class="row">
                <div class="tab-pane" id="tab_goods_spec" style="margin-left: 10px;height: 100%">
                    <table class="table table-bordered" id="goods_spec_table">
                        <tr>
                            <td>商品模型:</td>
                            <td>
                              <select name="goods_type" id="spec_type" class="form-control" style="width:250px;">
                                <option value="0">选择商品模型</option>
                                {foreach name="goodsType" item="vo" key="k" }
                                   <option value="{$vo.id}"{if condition="$goods.good_model eq $vo.id"} selected="selected" {/if} >{$vo.name}</option>
                                {/foreach}
                              </select>
                                <span class="err" id="err_item"></span>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <!-- ajax 返回规格-->
                        <div id="ajax_spec_data" class="col-xs-8" ></div>
                        <div class="col-xs-4" >
                            <table class="table table-bordered" id="goods_attr_table">
                               
                            </table>
                        </div>
                    </div>
                </div>
            </dl>
        </div>
        <!-- 商品模型-->


		<div class="ncap-form-default">
            <div class="bot">
                <a href="JavaScript:void(0);" id="submit" class="ncap-btn-big ncap-btn-green">确认提交</a>
                <span class="err" id="err_goods_id"></span>
            </div>
        </div>
     </form>
    <!--表单数据-->
</div>

<script>
    /** 商品规格相关 js*/
    $(function(){
        // 商品模型切换时 ajax 调用  返回不同的属性输入框
        $(document).on("change",'#spec_type',function(){
            var goods_id = $("input[name='goods_id']").val();
            var spec_type = $(this).val();
            $.ajax({
                type: 'GET',
                data: {goods_id: goods_id, spec_type: spec_type},
                url: "{:url('admin/Good/ajaxGetSpecSelect')}",
                success: function (data) {
                    $("#ajax_spec_data").html('').append(data);
                    ajaxGetSpecInput();	// 触发完  马上触发 规格输入框
                }
            });
            //商品类型切换时 ajax 调用  返回不同的属性输入框
            // $.ajax({
            //     type: 'GET',
            //     data: {goods_id: goods_id, type_id: spec_type},
            //     url: "/index.php/admin/Good/ajaxGetAttrInput",
            //     success: function (data) {
            //         $("#goods_attr_table tr:gt(0)").remove();
            //         $("#goods_attr_table").append(data);
            //     }
            // });
        })
    })

    $(document).ready(function(){
        $('#virtual_indate').layDate();
        $("#spec_type").trigger('change'); // 触发商品规格
        initCategory();
    });
    //提交
    $(function(){
        $(document).on("click",'#submit',function(){
            $('#submit').attr('disabled', true);
            $.ajax({
                type: "POST",
                url: "{:url('Good/save')}",
                data: $("#addEditGoodsForm").serialize(),
                async:false,
                dataType: "json",
                error: function () {
                    layer.alert("服务器繁忙, 请联系管理员!");
                },
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.msg,{icon: 1,time: 2000},function(){
                                location.href = "{:url('Good/index')}";
                        });
                    } else {
                        $('#submit').attr('disabled',false);
                        $.each(data.result, function (index, item) {
                            $('span.err').show();
                            $('#err_'+index).text(item);
                        });
                        layer.msg(data.msg, {icon: 2,time: 3000});
                    }
                }
            });
        })
    })

    //规格批量填充
    $(function () {
        $(document).on("click", '#item_fill', function () {
            var item_price_fill = $("#item_price").val();
            var item_market_price_fill = $("#item_market_price").val();
            var item_cost_price_fill = $("#item_cost_price").val();
            var item_commission_fill = $("#item_commission").val();
            var item_store_count_fill = $("#item_store_count").val();
            var item_sku_fill = $("#item_sku").val();
            $("input[name$='[price]']").val(item_price_fill);
            $("input[name$='[market_price]']").val(item_market_price_fill);
            $("input[name$='[cost_price]']").val(item_cost_price_fill);
            $("input[name$='[commission]']").val(item_commission_fill);
            $("input[name$='[store_count]']").val(item_store_count_fill);
            $("input[name$='[sku]']").each(function(i,o){
                $(this).val(item_sku_fill);
                item_sku_fill++;
            })
        })
    })


    //编辑时默认选中某个商品分类
    function initCategory(){
        var level_cat_1 = $("input[name='level_cat_1']").val();
        var level_cat_2 = $("input[name='level_cat_2']").val();
        var level_cat_3 = $("input[name='level_cat_3']").val();
        if(level_cat_2 > 0){
            get_category(level_cat_1,'cat_id_2',level_cat_2);
        }
        if(level_cat_3 > 0){
            get_category(level_cat_2,'cat_id_3',level_cat_3 );
            getCategoryBrandList(level_cat_2);
        }
    }



    // 属性输入框的加减事件
    function addAttr(a) {
        var attr = $(a).parent().parent().prop("outerHTML");
        attr = attr.replace('addAttr', 'delAttr').replace('+', '-');
        $(a).parent().parent().after(attr);
    }
    // 属性输入框的加减事件
    function delAttr(a) {
        $(a).parent().parent().remove();
    }


    //插件切换列表
    $('.tab-base').find('.tab').click(function(){
        $('.tab-base').find('.tab').each(function(){
            $(this).removeClass('current');
        });
        $(this).addClass('current');
        var tab_index = $(this).data('index');
        $(".tab_div_1, .tab_div_2, .tab_div_3, .tab_div_4,.tab_div_5").hide();
        $(".tab_div_"+tab_index).show();
    });






</script>
{/block}