{extend name="Public:layout" /}
{block name="head"}
    <link rel="stylesheet" href="__PUBLIC__/uploadify/Huploadify.css" />
{/block}
{block name="main"}

	<div class="page-content">
		<div class="page-header">
			<h1>
				商品相册管理
				<small> <i class="icon-double-angle-right"></i>
					添加图片
				</small>
			</h1>
		</div>
		<!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<form class="form-horizontal" role="form" action="{:url('admin/good_images/insert')}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="good_id" value="{:request()->param('id')}">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">商品名称</label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1"  class="col-xs-10 col-sm-5 " name="gift_name" value="{$goods.goods_name}" disabled/>
						</div>
					</div>

					<div class="form-group" id="logo">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1" >添加图片</label>

						<div class="col-sm-9">
							<!-- uploadify上传插件 -->
							<div id="imgs"></div>
							<div id="file_upload"></div>
							<!-- uploadify上传插件 -->
							<input type="hidden" value="" id="uplogo" name="image_url">
							<!-- 上传的图片地址放到这里面 -->
						</div>
					</div>


					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit"> <i class="icon-ok bigger-110"></i>
								保存
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/uploadify/jquery.Huploadify.js"></script>
	<script>
	$(function() {
		var img = '';
		
		var up = $('#file_upload').Huploadify({
				auto:false,
				fileTypeExts:'*.*',
				multi:true,
				formData:{key:123456,key2:'vvvv'},
				fileSizeLimit:99999999999,
				showUploadedPercent:true,
				showUploadedSize:true,
				removeTimeout:9999999,
				uploader:'{:url('admin/good_images/myUpload')}',
				onUploadStart:function(file){
					console.log(file.name+'开始上传');
				},
				onInit:function(obj){
					console.log('初始化');
					console.log(obj);
				},
				onUploadComplete:function(file, data, response) {
		        	img = "<img width='200px' src="+data.replace(/\\/g,'')+">";
		        	$('#imgs').html(img);
		        	var img_url = $('#uplogo');
		        	$('#uplogo').val(img_url.val()+' '+data.replace(/\\/g,'').replace(/\"/g, ""));
	            },	    	    
			 	onCancel:function(file){
					console.log(file.name+'删除成功');
				},
				onClearQueue:function(queueItemCount){
					console.log('有'+queueItemCount+'个文件被删除了');
				},
				onDestroy:function(){
					console.log('destroyed!');
				},
				onSelect:function(file){
					console.log(file.name+'加入上传队列');
				},
				onQueueComplete:function(queueData){
					console.log('队列中的文件全部上传完成',queueData);
				}
			})
		})
	</script>
{/block}